--Content Header--

1

2

3

4

5

## Import Libraries

In [6]:
#Import libraries
import pandas as pd
import numpy as np
import os
import statistics
pd.set_option('display.max_colwidth', -1)
pd.set_option('display.width', None)
pd.set_option('display.max_columns', None)
path = r'C:\Users\13019\Documents\Emmanuel\Data Analysis\Data Immersion\6.x'

C:\Users\13019\AppData\Local\Temp\ipykernel_13200\2998350499.py:6: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

## Import Dataframes

In [2]:
df = pd.read_csv(os.path.join(path,'Provisional_COVID-19_Deaths_by_Sex_and_Age.csv'), index_col = False);

## Finding Basic Statistics on Dataframe

In [3]:
df.shape

(132192, 14)

In [4]:
df.head()

,Start Date,End Date,Group,Year,Month,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
0,1/1/2020,7/15/2023,By Total,NaN,NaN,United States,All Sexes,All Ages,1137802.0,11735452.0,1132068.0,565790.0,21992.0,1723604.0
1,1/1/2020,7/15/2023,By Total,NaN,NaN,United States,All Sexes,Under 1 year,509.0,69507.0,1010.0,93.0,62.0,1486.0
2,1/1/2020,7/15/2023,By Total,NaN,NaN,United States,All Sexes,0-17 years,1668.0,124091.0,2827.0,418.0,503.0,4555.0
3,1/1/2020,7/15/2023,By Total,NaN,NaN,United States,All Sexes,1-4 years,274.0,13473.0,646.0,63.0,174.0,1022.0
4,1/1/2020,7/15/2023,By Total,NaN,NaN,United States,All Sexes,5-14 years,504.0,20853.0,788.0,143.0,218.0,1354.0

In [5]:
df.describe(include = 'all')

,Start Date,End Date,Group,Year,Month,State,Sex,Age Group,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
count,132192,132192,132192,129438.000000,118422.000000,132192,132192,132192,9.470700e+04,1.133510e+05,8.938800e+04,96960.000000,106184.000000,9.002900e+04
unique,43,43,3,NaN,NaN,54,3,17,NaN,NaN,NaN,NaN,NaN,NaN
top,1/1/2020,7/15/2023,By Month,NaN,NaN,United States,All Sexes,All Ages,NaN,NaN,NaN,NaN,NaN,NaN
freq,8262,8262,118422,NaN,NaN,2448,44064,7776,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,2021.340426,6.093023,NaN,NaN,NaN,3.230049e+02,2.826535e+03,3.404460e+02,157.703187,5.177202,5.140910e+02
std,NaN,NaN,NaN,1.057432,3.388188,NaN,NaN,NaN,6.067226e+03,5.498208e+04,6.104403e+03,3025.743150,112.124132,9.270406e+03
min,NaN,NaN,NaN,2020.000000,1.000000,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00
25%,NaN,NaN,NaN,2020.000000,3.000000,NaN,NaN,NaN,0.000000e+00,4.200000e+01,0.000000e+00,0.000000,0.000000,0.000000e+00
50%,NaN,NaN,NaN,2021.000000,6.000000,NaN,NaN,NaN,0.000000e+00,1.520000e+02,1.800000e+01,0.000000,0.000000,2.500000e+01
75%,NaN,NaN,NaN,2022.000000,9.000000,NaN,NaN,NaN,5.300000e+01,6.580000e+02,7.600000e+01,23.000000,0.000000,1.100000e+02
max,NaN,NaN,NaN,2023.000000,12.000000,NaN,NaN,NaN,1.137802e+06,1.173545e+07,1.132068e+06,565790.000000,21992.000000,1.723604e+06

In [11]:
df['COVID-19 Deaths'].median()

0.0

## Fill in Blank cells with Median Value

In [12]:
df[['COVID-19 Deaths','Total Deaths','Pneumonia Deaths', 'Pneumonia and COVID-19 Deaths', 'Influenza Deaths', 'Pneumonia, Influenza, or COVID-19 Deaths']] = df[['COVID-19 Deaths','Total Deaths','Pneumonia Deaths', 'Pneumonia and COVID-19 Deaths', 'Influenza Deaths', 'Pneumonia, Influenza, or COVID-19 Deaths']].fillna(df[['COVID-19 Deaths','Total Deaths','Pneumonia Deaths', 'Pneumonia and COVID-19 Deaths', 'Influenza Deaths', 'Pneumonia, Influenza, or COVID-19 Deaths']].median())

## Checking for Duplicates

In [14]:
df_dups = df;

In [15]:
df_dups = df_dups[df_dups.duplicated()]

In [16]:
df_dups

Empty DataFrame
Columns: [Start Date, End Date, Group, Year, Month, State, Sex, Age Group, COVID-19 Deaths, Total Deaths, Pneumonia Deaths, Pneumonia and COVID-19 Deaths, Influenza Deaths, Pneumonia, Influenza, or COVID-19 Deaths]
Index: []

In [ ]:
## No Duplicates

## Re-Checking Descriptive Statistics

In [17]:
df.describe()

,Year,Month,COVID-19 Deaths,Total Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths"
count,129438.000000,118422.000000,1.321920e+05,1.321920e+05,1.321920e+05,132192.000000,132192.000000,1.321920e+05
mean,2021.340426,6.093023,2.314121e+02,2.445340e+03,2.360374e+02,115.671909,4.158618,3.580941e+02
std,1.057432,3.388188,5.137507e+03,5.092185e+04,5.021987e+03,2592.282582,100.511722,7.653839e+03
min,2020.000000,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00
25%,2020.000000,3.000000,0.000000e+00,5.300000e+01,0.000000e+00,0.000000,0.000000,1.200000e+01
50%,2021.000000,6.000000,0.000000e+00,1.520000e+02,1.800000e+01,0.000000,0.000000,2.500000e+01
75%,2022.000000,9.000000,2.500000e+01,5.120000e+02,3.700000e+01,11.000000,0.000000,5.400000e+01
max,2023.000000,12.000000,1.137802e+06,1.173545e+07,1.132068e+06,565790.000000,21992.000000,1.723604e+06

## Export Dataframe

In [13]:
df.to_csv(os.path.join(path,'Provisional_COVID-19_Deaths_by_Sex_and_Age_Updated.csv'))